<div>
	{{>weeks}}
	<div class="clearfix teams">
		<span class="main">Away</span>
		{{#games}}
			<span class="{{#awaywin}} correct{{/awaywin}}"><span class="cube team-icon {{away}}"></span></span>
		{{/games}}
	</div>
	<div class="clearfix teams">
		<span class="main">Home</span>
		{{#games}}
			<span class="{{#homewin}} correct{{/homewin}}"><span class="cube team-icon {{home}}"></span></span>
		{{/games}}
	</div>

	{{#groups}}
	<div>
		<div>{{name}}</div>
		{{#members}}
		<div class="member {{#current}}active{{/current}}">
		<span class="main">
			<span class="username">{{username}}</span>
			<span class="total">{{total}}</span>
			<span class="wins">{{wins}}/17</span>
		</span>
			{{#games}}
			<span class="playerResult{{#winner}} correct{{/winner}}">
				<span class="team-icon {{pick}}"></span>
				{{points}}
			</span>
			{{/games}}
			</div>
		{{/members}}
	</div>
	{{/groups}}
</div>