<div> <div class="limited-width " style="float:left">


  <!-- Single button -->
<div class="nav nav-tabs btn-group visible-xs-block">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Group <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
  	{{#groups}}
    <li role="presentation" class=""><a href="#small_{{_id}}" aria-controls="small_{{_id}}" >{{name}}</a></li>
    {{/groups}}
  </ul>
</div>

	{{>weeks}}


  <!-- Nav tabs -->
  <ul class="nav nav-tabs hidden-xs" role="tablist">
  	{{#groups}}
    <li role="presentation" class=""><a href="#{{_id}}" aria-controls="{{_id}}" role="tab" data-toggle="tab">{{name}}</a></li>
    {{/groups}}
  </ul>




	<div class="clearfix teams hidden-xs">
		<span class="main">Away</span>
		{{#games}}
			<span class="{{#awaywin}} correct{{/awaywin}}"><span class="cube team-icon {{away.name}} {{away.location}}"></span></span>
		{{/games}}
	</div>
	<div class="clearfix teams hidden-xs">
		<span class="main">Home</span>
		{{#games}}
			<span class="{{#homewin}} correct{{/homewin}}"><span class="cube team-icon {{home.name}} {{home.location}}"></span></span>
		{{/games}}
	</div>	<div style="border-bottom:solid 5px #333; margin-bottom:5px"></div>


	<div class="clearfix visible-xs-block" style="width:34px;float:left">
		<div style="height:80px">&nbsp;</div>
		{{#games}}
			<div class="{{#awaywin}} correct{{/awaywin}}" style="height:34px"><span class="cube team-icon {{away.name}} {{away.location}}"></span></div>
		{{/games}}
	</div>
	<div class="clearfix visible-xs-block" style="width:34px;float:left">
		<div style="height:80px">@</div>
		{{#games}}
			<div class="{{#homewin}} correct{{/homewin}}" style="height:34px"><span class="cube team-icon {{home.name}} {{home.location}}"></span></div>
		{{/games}}
	</div>	


  <!-- Tab panes -->
  <div class="tab-content hidden-xs	">
  	{{#groups}}
    <div role="tabpanel" class="tab-pane active" id="{{_id}}">
	      	{{^limited}}
					{{#members}}
						<div class="member {{#current}}active{{/current}}">
							<span class="main">
								<span class="username">{{username}}</span>
								<span class="total">{{total}}</span>
								<span class="wins">{{wins}}/{{games.length}}</span>
							</span>
							{{#games}}
							<span class="playerResult{{#winner}} correct{{/winner}}">
								<span class="team-icon {{pick.name}} {{pick.location}}"></span>
								{{points}}
							</span>
							{{/games}}
						</div>
					{{/members}}
					{{/limited}}
					{{#limited}}
					{{#members}}
						<div class="member {{#current}}active{{/current}}">
							<span class="main">
								<span class="username">{{username}}</span>
								<span class="total">{{wins}}</span>
							</span>
							{{#games}}
							<span class="playerResult{{#winner}} correct{{/winner}}">
								<span class="team-icon {{pick.name}} {{pick.location}}"></span>1
							</span>
							{{/games}}
						</div>
					{{/members}}
					{{/limited}}
    </div>
    {{/groups}}
  </div>





  <!-- Tab panes -->
  <div class="tab-content visible-xs-block show_colors" style="width: 240px;float: left;overflow: auto;">
  	{{#groups}}
    <div role="tabpanel" class="tab-pane" id="small_{{_id}}" style="white-space: nowrap;">
	      	{{^limited}}
					{{#members}}
						<div class="member {{#current}}active{{/current}}" style="background:none;width:34px;display:inline-block;height:auto">
							<span class="main" style="height:75px;float:none">
								<!-- <span class="username">{{username}}</span> -->
								<span class="total vertical-text" style="font-size:20px;color:{{color}}">{{total}}</span>
								<!-- <span class="wins">{{wins}}/17</span> -->
							</span>
							{{#games}}
							<span class="playerResult{{#winner}} correct{{/winner}}" style="width:34px;height:34px">
								<span class="team_cube cube {{pick.name}} {{pick.location}}" style="margin:2px">{{points}}</span>
								
							</span>
							{{/games}}
						</div>
					{{/members}}
					{{/limited}}

					{{#limited}}
					{{#members}}
						<div class="member {{#current}}active{{/current}}" style="width:68px;display:inline-block;height:auto">
							<span class="main" style="height:auto;float:none">
								<!-- <span class="username">{{username}}</span> -->
								<span class="total" style="font-size:20px;color:{{color}}">{{wins}}</span>
								<!-- <span class="wins">{{wins}}/17</span> -->
							</span>
							{{#games}}
							<span class="playerResult{{#winner}} correct{{/winner}}" style="width:68px;height:34px">
								<span class="team-icon {{pick.name}} {{pick.location}}" style="margin:2px"></span>1
							</span>
							{{/games}}
						</div>
					{{/members}}
					{{/limited}}

    </div>
    {{/groups}}
  </div>




</div>
<div class="trash-talk" style="display:none;float:left;width:300px;margin:10px">
	<h3 style="color:#f8f8f8">Trash Talk<span></span></h3>
	<div class="form"></div>
	<ul class="list-group"></ul>
</div>
	<script type="text/javascript" src="/assets/js/results.js"></script>


</div>

