<div class="row clearfix {{modifiers}}" name="{{id}}" data-type="{{type}}" style="margin-bottom: 1px;padding:5px">
	<div class="col-md-5 col-xs-4" style="text-align:right">
		<div class="btn btn-none" data-value="{{{away}}}" style="width: 200px;line-height: 20px;"><span class="awayteam hidden-xs">{{{away}}}</span><span class="cube team-icon {{away}}" style="margin:-5px;float:right"></span></div>
	</div>
	<div class="col-md-2 col-xs-4" >
	<select class="form-control"  name="{{id}}" {{^isEnabled}}readonly disabled="true"{{/isEnabled}}  {{#multiple_enable}}multiple{{/multiple_enable}} >
	{{#options}}
		<option {{#selected}}selected='selected'{{/selected}} value="{{value}}">
			{{label}}
		</option>
	{{/options}}
	</select>
	</div>
	<div class="col-md-5 col-xs-4" style="text-align:left">
		<div class="btn btn-none" data-value="{{{home}}}" style="width: 200px;line-height: 20px;"><span class="cube team-icon {{home}}" style="margin:-5px;float:left"></span><span class="hometeam hidden-xs">{{{home}}}</span></div>
	</div>
</div>